<div id="promoteWrap" class="promo-banner-wrap active"
      *ngIf="siteName!='betbuz365'  && siteName !='xpgexch' && siteName !='betwinners' ">
      <div class="promo-banner">

            <ul class="slides">
                  <ng-container *ngFor="let data of IPLBanner">
                        <li class="banner"><a target="_blank"><img [src]="data" alt="{{data}}" /></a>
                        </li>
                  </ng-container>

                  <ng-container *ngIf="siteName=='jee365'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/jee365.jpg"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/jee365.jpg"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/Casino.jpg"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/Tennis.jpg"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/Horse Racing.jpg"
                                          alt="velkibuzz_2" /></a>
                        </li>
                  </ng-container>
                  <ng-container *ngIf="siteName=='maza247'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_1.webp"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_2.webp"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_3.webp"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_4.webp"
                                          alt="velkibuzz_1" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_5.webp"
                                          alt="velkibuzz_2" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_6.webp"
                                          alt="velkibuzz_2" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/maza_7.webp"
                                          alt="velkibuzz_2" /></a>
                        </li>
                  </ng-container>
                  <ng-container *ngIf="siteName=='nayaludis'">
                        <!-- <li class="banner"><a><img  src="https://www.static112233.com/m/assets/images/mobile/promo/wasim_bbl.png" alt="velkibuzz_1" /></a>
        </li> -->
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/nayaludis.jpg"
                                          alt="anadar bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/kv-all-ab_tp.png"
                                          alt="anadar bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/kv-all-king-cardmatka.png"
                                          alt="card matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/kv-all-roulette.png"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/kv-all-king-nummatka.png"
                                          alt="number matka" /></a>
                        </li>
                  </ng-container>
                  <ng-container *ngIf="siteName=='lc247'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-lclive.webp?v=52485623634"
                                          alt="lclive" /></a>

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-super-withdrawal.webp?v=52485623634"
                                          alt="super-withdrawal" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-live-games.webp?v=52485623634"
                                          alt="live-games" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-andarbahar.webp?v=52485623634"
                                          alt="andar-bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-card-matka.webp?v=52485623634"
                                          alt="card-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-num-matka.webp?v=52485623634"
                                          alt="num-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-roulette.webp?v=52485623634"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-lc-casino.webp?v=52485623634"
                                          alt="lc-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-premium.webp?v=52485623634"
                                          alt="premium-bet" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-premium-casino.webp?v=52485623634"
                                          alt="premium-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-casino.webp?v=52485623634"
                                          alt="casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-lc-roulette.webp?v=52485623634"
                                          alt="lc-roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bdbet247/kv-all-slots.webp?v=52485623634"
                                          alt="slots" /></a>
                        </li>

                  </ng-container>
                  <ng-container *ngIf="siteName=='bajimat'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bajimat/1.webp?v=52485623634"
                                          alt="bajimat" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bajimat/2.webp?v=52485623634"
                                          alt="bajimat" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bajimat/3.webp?v=52485623634"
                                          alt="bajimat" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bajimat/4.webp?v=52485623634"
                                          alt="bajimat" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/bajimat/5.webp?v=52485623634"
                                          alt="bajimat" /></a>
                        </li>




                  </ng-container>
                  <ng-container *ngIf="siteName=='vellki'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-lclive.jpg"
                                          alt="lclive" /></a>

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-super-withdrawal.jpg"
                                          alt="super-withdrawal" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-live-games.jpg"
                                          alt="live-games" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-andarbahar.png"
                                          alt="andar-bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-card-matka.png"
                                          alt="card-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-num-matka.png"
                                          alt="num-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-roulette.png"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-lc-casino.jpg"
                                          alt="lc-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-premium.jpg"
                                          alt="premium-bet" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-lc-roulette.jpg"
                                          alt="lc-roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/vellki/kv-all-slots.jpeg"
                                          alt="slots" /></a>
                        </li>

                  </ng-container>
                  <ng-container *ngIf="siteName=='runx'">
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-lclive.jpg"
                                          alt="lclive" /></a>

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-super-withdrawal.jpg"
                                          alt="super-withdrawal" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-live-games.jpg"
                                          alt="live-games" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-andarbahar.png"
                                          alt="andar-bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-card-matka.png"
                                          alt="card-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-num-matka.png"
                                          alt="num-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-roulette.png"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-lc-casino.jpg"
                                          alt="lc-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-premium.jpg"
                                          alt="premium-bet" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-lc-roulette.jpg"
                                          alt="lc-roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runx/kv-all-slots.jpeg"
                                          alt="slots" /></a>
                        </li>

                  </ng-container>
                  <ng-container *ngIf="siteName=='betwinners'">

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-lclive.jpg"
                                          alt="lclive" /></a>

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-super-withdrawal.jpg"
                                          alt="super-withdrawal" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-live-games.jpg"
                                          alt="live-games" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-andarbahar.png"
                                          alt="andar-bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-card-matka.png"
                                          alt="card-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-num-matka.png"
                                          alt="num-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-roulette.png"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-lc-casino.jpg"
                                          alt="lc-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-premium.jpg"
                                          alt="premium-bet" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-premium-casino.jpg"
                                          alt="premium-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-casino.jpg"
                                          alt="casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-lc-roulette.jpg"
                                          alt="lc-roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/betwinners/kv-all-slots.jpeg"
                                          alt="slots" /></a>
                        </li>

                  </ng-container>

                  <ng-container *ngIf="siteName=='runexchco'">

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-lclive.jpg"
                                          alt="lclive" /></a>

                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-super-withdrawal.jpg"
                                          alt="super-withdrawal" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-live-games.jpg"
                                          alt="live-games" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-andarbahar.png"
                                          alt="andar-bahar" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-card-matka.png"
                                          alt="card-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-num-matka.png"
                                          alt="num-matka" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-roulette.png"
                                          alt="roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-lc-casino.jpg"
                                          alt="lc-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-premium.jpg"
                                          alt="premium-bet" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-premium-casino.jpg"
                                          alt="premium-casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-casino.jpg"
                                          alt="casino" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-lc-roulette.jpg"
                                          alt="lc-roulette" /></a>
                        </li>
                        <li class="banner"><a><img
                                          src="https://www.static112233.com/m/assets/images/mobile/promo/runexchco/kv-all-slots.jpeg"
                                          alt="slots" /></a>
                        </li>

                  </ng-container>


                  <ng-container
                        *ngIf="siteName!='nayaludis' && !islc247allcondition  && siteName!='lc247co' && siteName!='bajimat' && siteName!='maza247'">


                        <ng-container>


                              <li class="banner" *ngIf="siteName!='skybet365' && siteName!='jee365'">
                                    <a class="ui-link" [routerLink]="isLogin?['/races',7]:['/login']">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-hr-gr-m.webp?v=22551"
                                                alt="HR/GR">
                                    </a>
                              </li>

                              <li class="banner">
                                    <a class="ui-link" routerLink="{{highCom}}">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-game-m.webp?v=22551"
                                                alt="Game">
                                    </a>
                              </li>

                              <li class="banner" *ngIf="!isIcasino && !isskybet369 && siteName!='jee365'">
                                    <a class="ui-link">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-casino-m.webp?v=22551"
                                                alt="Casino">
                                    </a>
                              </li>
                              <li class="banner">
                                    <a class="ui-link" routerLink="/running">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-cricket-m.webp?v=22551"
                                                alt="Cricket">
                                    </a>
                              </li>
                              <li class="banner">
                                    <a class="ui-link" routerLink="/running">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-soccer-m.webp?v=22551"
                                                alt="Soccer">
                                    </a>
                              </li>
                              <li class="banner">
                                    <a class="ui-link" routerLink="/running" *ngIf="siteName!='jee365'">
                                          <img src="https://www.static112233.com/client/m/assets/images/mobile/promo/kv-all-tennis-m.webp?v=22551"
                                                alt="tennis">
                                    </a>
                              </li>
                        </ng-container>





                  </ng-container>

            </ul>
      </div>
      <div class="promo-banner-loading"></div>
</div>