// .bg-kv_all_skyexchange2_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -190px;
// }
// .bg-kv_sexy_roulette_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -350px;
// }
// .bg-kv_all_fest_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -510px;
// }
// .bg-kv_all_hr_gr_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -670px;
// }
// .bg-kv_all_hr_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -830px;
// }
// .bg-kv_cock_cockfight_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -990px;
// }
// .bg-kv_all_election_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -1150px;
// }
// .bg-kv_venus_roulette_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -1434px;
// }
// .bg-kv_all_soccer_m {
//     width: 360px; height: 67px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1007px -556px;
// }
// .bg-kv_all_tennis_m {
//     width: 360px; height: 67px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1007px -643px;
// }
// .bg-kv_all_casino_m {
//     width: 489px; height: 95px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -1310px;
// }
// .bg-kv_all_bpl_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -780px -1434px;
// }
// .bg-kv_betgames_9livegames_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -1594px;
// }
// .bg-kv_all_game_m {
//     width: 1436px; height: 268px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -10px;
// }
// .bg-kv_all_casino_m {
//     width: 360px; height: 67px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1007px -730px;
// }
// .bg-kv_all_psl_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png');
//     background-position: -780px -1594px;
// }
// .bg-kv_all_gr_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -1754px;
// }
// .bg-kv_all_horse_m {
//     width: 977px; height: 253px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -556px;
// }
// .bg-kv_all_icc_m {
//     width: 900px; height: 160px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -1044px;
// }
// .bg-kv_all_cricket_m {
//     width: 765px; height: 190px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -1224px;
// }
// .bg-kv_all_kabaddi_m {
//     width: 750px; height: 140px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -780px -1754px;
// }
// .bg-kv_all_election2_m {
//     width: 1280px; height: 238px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -298px;
// }
// .bg-kv_all_bbl_m {
//     width: 750px; height: 160px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -1466px -10px;
// }
// .bg-kv_all_bigbash_m {
//     width: 765px; height: 195px;
//     background: url('https://www.static112233.com/m/assets/images/mobile/promo/promo_sprites.png') -10px -829px;
// }
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

