<ul id="inPlayTab" class="tab col3">
    <div class="casino-box-tabs" style="background: #212121;">
        <div class="casino-tabs-menu">
            <a (click)="scrollLeft1()" class="arrow-tabs arrow-left"><i class="fas fa-chevron-left"></i></a>
            <ul #tab2 class="nav nav-pills">
                <li class="select"><a id="inplay"
                        [routerLink]="isLogin?['/casino/cas/international']:['/login']">{{Update?.International}}</a>
                </li>
                <li
                    *ngIf="siteName!='runx' && siteName!='sports365'   && siteName!='vellki' && siteName!='rajbet' && siteName!='cricbuzz365' && siteName!='wickets3' && siteName!='winbuzz'">
                    <a id="today" [routerLink]="isLogin?['/sncasinolist/SN']:['/login']"><img
                             src="https://www.static112233.com/m/assets/images/mobile/cricbuzzer/supernowa.gif" width="75px"
                            style="vertical-align: middle;"></a>
                </li>
                <li >
                    <a id="today" [routerLink]="isLogin?['/casino/cas/aura']:['/login']">{{Update?.aura}}</a>
                </li>
                <li style="height: 27px;"
                    *ngIf="siteName !='xpgexch' && siteName!='runx'  && siteName!='sports365'  && siteName!='vellki' && siteName!='rajbet' && siteName!='cricbuzz365' && siteName!='wickets3' && siteName!='winbuzz' && siteName!='cricbuzz365' && siteName!='wickets3' && siteName!='winbuzz'">
                    <a id="tomorrow" [routerLink]="isLogin?['/casino/cas/dia']:['/login']">
                        <img  src="https://www.static112233.com/m/assets/images/mobile/cricbuzzer/img12.gif" width="40px"></a>
                </li>
                <li *ngIf="siteName!='runx'  && siteName!='sports365'  && siteName!='vellki' && siteName!='rajbet' && siteName!='cricbuzz365' && siteName!='wickets3' && siteName!='winbuzz'"
                    style="height: 27px;"><a id="tomorrow"
                        [routerLink]="isLogin?['/casino/cas/slot']:['/login']">{{Update?.slots}}</a>
                </li>
                <li *ngIf="siteName!='runx' && siteName!='sports365'  && siteName!='vellki' && siteName!='rajbet' && siteName!='cricbuzz365' && siteName!='wickets3' && siteName!='winbuzz'"
                    style="height: 27px;"><a id="tomorrow"
                        [routerLink]="isLogin?['/poker']:['/login']">{{Update?.poker}}</a>
                </li>

            </ul>
            <a (click)="scrollRight1()" class="arrow-tabs arrow-right"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</ul>
<div class="gamehall">
    <ng-container>
        <ng-container *ngIf="!isLogin">
            <a class="entrance-half"
                (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)"
                *ngFor="let awc of cricbuzzerawcList_withoutlog">
                <dl class="entrance-title">
                    <dt>{{awc.name | titlecase}}</dt>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="" draggable="false">
            </a>
            <a  class="entrance-half"
                [routerLink]="isLogin?['/casino/cas/aura']:['/login']">
                <dl class="entrance-title">
                    <dt>{{Update?.aura}}</dt>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/awc_banner/EURAGAMING.svg" alt="" draggable="false">
            </a>
            <a class="entrance-half" [routerLink]="isLogin?['/poker']:['/login']">
                <dl class="entrance-title">
                    <dt>{{Update?.poker}}</dt>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/poker.webp?v=254789658" alt="" draggable="false">
            </a>
            <a *ngIf="siteName!='bdwicket'" class="entrance isBig"
                [routerLink]="isLogin?['/sncasinolist/SN']:['/login']">
                <dl class="entrance-title">
                    <dt>Supernowa</dt>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/casino/SN1.jpeg" alt="" draggable="false">
            </a>


            <a routerLink="{{inplayCom}}" class="">
                <dl id="onLiveBoard" class="on_live">
                    <dt>
                        <p class="live_icon"><span></span> {{Update?.live}}</p>
                    </dt>
                    <ng-container *ngFor="let sport of sportList;trackBy:trackBySport; let index = index">
                        <dd id="onLiveCount_{{sport.sportsName}}" *ngIf="index<6">
                            <p>{{sport.sportsName | titlecase}}</p><span id="count">{{sport.inplayCounts}}</span>
                        </dd>
                    </ng-container>
                </dl>

                <ng-container>
                    <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/banner_sports.png?v=5263" alt="Sports"
                        draggable="false">
                    <dl class="entrance-title">
                        <dt>Sports</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                </ng-container>
            </a>
            <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/dia']:['/login']">
                <dl class="entrance-title">
                    <dd>{{Update?.diamond}}</dd>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/awc_banner/DIAMONDCASINO.svg" alt="" draggable="false">
            </a>
            <ng-container *ngIf="!isLogin">
                <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}"
                    (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)"
                    *ngFor="let awc of cricbuzzerawcList_withoutlog1">
                    <dl class="entrance-title">
                        <dt>{{awc.name | titlecase}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>

                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="" draggable="false">
                </a>
            </ng-container>
            <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/slot']:['/login']">
                <dl class="entrance-title">
                    <dt>{{Update?.slots}}</dt>
                    <dd>
                        <span>{{Update?.PlayNow}}</span>
                    </dd>
                </dl>
                <img  src="https://www.static112233.com/m/assets/images/awc_banner/slot.webp?v=254789658" alt="" draggable="false">
            </a>

            <ng-container *ngIf="!isLogin">
                <ng-container *ngFor="let awc of cricbuzzerawcList_withoutlog2">
                    <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}" *ngIf="!awc.isSport "
                        (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)">
                        <dl class="entrance-title">
                            <dt>{{awc.name | titlecase}}</dt>
                            <dd>
                                <span>{{Update?.PlayNow}}</span>
                            </dd>

                        </dl>
                        <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}?v=254789658" alt="" draggable="false">
                    </a>
                    <a *ngIf="awc.isSport " class="entrance" style="cursor: pointer"
                        [routerLink]="isLogin?['/races/7']:['/login']">
                        <dl class="entrance-title">
                            <dt>Horse Book</dt>
                            <dd>
                                <span>{{Update?.PlayNow}}</span>
                            </dd>
                        </dl>
                        <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="Horse Racing"
                            draggable="false">
                    </a>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isLogin && isInrCurrency">
            <ng-container *ngFor="let awc of cricbuzzerawcList_VND">
                <a class="entrance-half"
                    (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)"
                    *ngIf="!awc.isSport " [ngClass]="{'entrance-half':!awc.isBig}">
                    <dl class="entrance-title">
                        <dt>{{awc.name | titlecase}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>

                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="" draggable="false">
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/aura']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==1">
                    <dl class="entrance-title">
                        <dt>{{Update?.aura}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/EURAGAMING.svg" alt="" draggable="false">
                </a>
                <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}"
                    [routerLink]="isLogin?['/poker']:['/login']" *ngIf="awc.isSport && awc.eventTypeId==9">
                    <dl class="entrance-title">
                        <dt>{{Update?.poker}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/poker.webp?v=254789658" alt="" draggable="false">
                </a>
                <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}"
                    [routerLink]="isLogin?['/sncasinolist/SN']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==2">
                    <dl class="entrance-title">
                        <dt>Supernowa</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/casino/SN.jpeg" alt="" draggable="false">
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/slot']:['/login'] "
                    *ngIf="awc.isSport && awc.eventTypeId==5">
                    <dl class="entrance-title">
                        <dt>{{Update?.slots}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/slot.webp?v=254789658" alt="" draggable="false">
                </a>
                <a routerLink="{{inplayCom}}" class="" *ngIf="awc.isSport && awc.eventTypeId==3">
                    <dl id="onLiveBoard" class="on_live">
                        <dt>
                            <p class="live_icon"><span></span> {{Update?.live}}</p>
                        </dt>
                        <ng-container *ngFor="let sport of sportList;trackBy:trackBySport; let index = index">
                            <dd id="onLiveCount_{{sport.sportsName}}" *ngIf="index<6">
                                <p>{{sport.sportsName | titlecase}}</p><span
                                    id="count">{{sport.inplayCounts}}</span>
                            </dd>
                        </ng-container>
                    </dl>

                    <ng-container>
                        <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/banner_sports.png?v=5263" alt="Sports"
                            draggable="false">
                        <dl class="entrance-title">
                            <dd>Sports</dd>
                            <dd>
                                <span>{{Update?.PlayNow}}</span>
                            </dd>
                        </dl>
                    </ng-container>
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/dia']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==4">
                    <dl class="entrance-title">
                        <dd>{{Update?.diamond}}</dd>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/DIAMONDCASINO.svg" alt="" draggable="false">
                </a>
                <a *ngIf="awc.isSport && awc.eventTypeId==7" class="entrance" style="cursor: pointer"
                    [routerLink]="isLogin?['/races/7']:['/login']">
                    <dl class="entrance-title">
                        <dt>Horse Book</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="Horse Racing"
                        draggable="false">
                </a>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isLogin && !isInrCurrency">
            <ng-container *ngFor="let awc of cricbuzzerawcList_OTHER">
                <a class="entrance-half"
                    (click)="awc_login_direct(awc.prod_code,awc.prod_type,awc.prod_name,awc.game_code)"
                    *ngIf="!awc.isSport " [ngClass]="{'entrance-half':!awc.isBig}">
                    <dl class="entrance-title">
                        <dt>{{awc.name | titlecase}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>

                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="" draggable="false">
                </a>
                <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}"
                    [routerLink]="isLogin?['/poker']:['/login']" *ngIf="awc.isSport && awc.eventTypeId==9 ">
                    <dl class="entrance-title">
                        <dt>{{Update?.poker}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/poker.webp?v=254789658" alt="" draggable="false">
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/aura']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==1">
                    <dl class="entrance-title">
                        <dt>{{Update?.aura}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/EURAGAMING.svg" alt="" draggable="false">
                </a>
                <a class="entrance-half" [ngClass]="{'entrance-half':!awc.isBig}"
                    [routerLink]="isLogin?['/sncasinolist/SN']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==2">
                    <dl class="entrance-title">
                        <dt>Supernowa</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/casino/SN1.jpeg" alt="" draggable="false">
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/slot']:['/login'] "
                    *ngIf="awc.isSport && awc.eventTypeId==5">
                    <dl class="entrance-title">
                        <dt>{{Update?.slots}}</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/slot.webp?v=254789658" alt="" draggable="false">
                </a>
                <a routerLink="{{inplayCom}}" class="" *ngIf="awc.isSport && awc.eventTypeId==3">
                    <dl id="onLiveBoard" class="on_live">
                        <dt>
                            <p class="live_icon"><span></span> {{Update?.live}}</p>
                        </dt>
                        <ng-container *ngFor="let sport of sportList;trackBy:trackBySport; let index = index">
                            <dd id="onLiveCount_{{sport.sportsName}}" *ngIf="index<6">
                                <p>{{sport.sportsName | titlecase}}</p><span
                                    id="count">{{sport.inplayCounts}}</span>
                            </dd>
                        </ng-container>
                    </dl>

                    <ng-container>
                        <img  src="https://www.static112233.com/m/assets/images/mobile/gamehall/banner_sports.png?v=5263" alt="Sports"
                            draggable="false">
                        <dl class="entrance-title">
                            <dt>Sports</dt>
                            <dd>
                                <span>{{Update?.PlayNow}}</span>
                            </dd>
                        </dl>
                    </ng-container>
                </a>
                <a class="entrance-half" [routerLink]="isLogin?['/casino/cas/dia']:['/login']"
                    *ngIf="awc.isSport && awc.eventTypeId==4">
                    <dl class="entrance-title">
                        <dd>{{Update?.diamond}}</dd>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/DIAMONDCASINO.svg" alt="" draggable="false">
                </a>
                <a *ngIf="awc.isSport && awc.eventTypeId==7 " class="entrance" style="cursor: pointer"
                    [routerLink]="isLogin?['/races/7']:['/login']">
                    <dl class="entrance-title">
                        <dt>Horse Book</dt>
                        <dd>
                            <span>{{Update?.PlayNow}}</span>
                        </dd>
                    </dl>
                    <img  src="https://www.static112233.com/m/assets/images/awc_banner/awc_poster/{{awc.name}}.webp?v=254789658" alt="Horse Racing"
                        draggable="false">
                </a>
            </ng-container>

        </ng-container>
    </ng-container>
</div>