<div class="mian-wrap home-page">
    <div class="home-page-body">
        <div class="home-top-casino">
            <div class="top-section banner">
                <div class="row-title">Virtual Sports</div>
                <div class="slide-bars">
                    <div class="slide-arrow-box left" (click)="slidePrev()">
                        <div class="swiper-button-prev1"></div>
                    </div>
                    <div class="slide-arrow-box right" (click)="slideNext()">
                        <div class="swiper-button-next1"></div>
                    </div>
                </div>
            </div>

            <div class="home-top-casino-items category-297">
                <swiper #swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>

                    <!-- <ng-template swiperSlide>Slide 1</ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
        <ng-template swiperSlide>Slide 4</ng-template>
        <ng-template swiperSlide>Slide 5</ng-template>
        <ng-template swiperSlide>Slide 6</ng-template> -->
                </swiper>
            </div>
        </div>

        <div class="home-top-casino">
            <div class="top-section banner">
                <div class="row-title">Top Slots</div>
                <div class="slide-bars">
                    <div class="slide-arrow-box left" (click)="slidePrev()">
                        <div class="swiper-button-prev1"></div>
                    </div>
                    <div class="slide-arrow-box right" (click)="slideNext()">
                        <div class="swiper-button-next1"></div>
                    </div>
                </div>
            </div>

            <div class="home-top-casino-items category-297">
                <swiper #swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>

        <div class="home-top-casino">
            <div class="top-section banner">
                <div class="row-title">Top Instant games</div>
                <div class="slide-bars">
                    <div class="slide-arrow-box left" data-ember-action="" data-ember-action-327="327">
                        <div class="swiper-button-prev1"></div>
                    </div>
                    <div class="slide-arrow-box right" data-ember-action="" data-ember-action-328="328">
                        <div class="swiper-button-next1"></div>
                    </div>
                </div>
            </div>

            <div class="home-top-casino-items category-297">
                <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_2416037.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="casino-item zoomIn animated">
                            <div class="img-box">
                                <img src="https://cdn.xpressgaming.net/images/47_3947312.png" alt="">
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>