@keyframes marqueeAnimation-1905872 {
  100% {
    transform: translateX(-2834px)
  }
}


.announce-wrap p {
  margin: 0 0 5.2vw 0;
  font-size: 14px;
}

.article-wrap {
  padding-bottom: 2vw !important;
}