<div class="support-wrap extend-support">
    <ng-container *ngIf="siteName == 'lc247'">
        <div class="extend-btn">

            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="customer" class="support-customer">
            <a href="https://api.whatsapp.com/send?phone=0000000000" target="_blank">Customer support1</a>


            <a href="https://api.whatsapp.com/send?phone=0000000000" target="_blank" class="split-line">support2</a>

        </div>
        <div class="extend-btn">

            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="WhatsApp" class="support-whatsapp">
            <a href="https://wa.me/{{whatsapp}}" target="_blank">{{whatsapp}}</a>


            <a href="https://wa.me/{{whatsapp1}}" target="_blank" class="split-line">{{whatsapp1}}</a>

        </div>
        <div class="extend-btn">


            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="whatsapp" class="support-whatsapp">
            <a href="https://t.me/Lc247telegram" target="_blank">Lc247telegram</a>


            <a href="https://t.me/Lc247telegram2" target="_blank" class="split-line">Lc247telegram2</a>

        </div>
        <div class="support-social">
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Skype" class="support-skype">
                <a href="skype:lc247official?chat" target="_blank">Skype</a>

            </div>
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Email" class="support-mail">
                <a href="mailto:info@lc247.xyz" target="_blank">Email</a>

            </div>
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Instagram" class="support-ig">
                <a href="https://www.instagram.com/lc247_xyz?igshid=YmMyMTA2M2Y=" target="_blank"
                    class="ui-link">Instagram</a>

            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="siteName != 'lc247'">
        <div class="extend-btn">

            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="customer" class="support-customer">
            <a href="https://api.whatsapp.com/send?phone=0000000000" target="_blank">Customer support1</a>


            <a href="https://api.whatsapp.com/send?phone=0000000000" target="_blank" class="split-line">support2</a>

        </div>
        <div class="extend-btn">

            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="WhatsApp" class="support-whatsapp">
            <a href="https://wa.me/{{whatsapp}}" target="_blank">{{whatsapp}}</a>


            <a href="https://wa.me/{{whatsapp1}}" target="_blank" class="split-line">{{whatsapp1}}</a>

        </div>
        <div class="extend-btn">


            <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="whatsapp" class="support-whatsapp">
            <a href="https://t.me/{{siteName}}telegram" target="_blank">{{siteName}}</a>


            <a href="https://t.me/{{siteName}}telegram2" target="_blank" class="split-line">{{siteName}}</a>

        </div>
        <div class="support-social">
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Skype" class="support-skype">
                <a target="_blank">Skype</a>

            </div>
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Email" class="support-mail">
                <a target="_blank">Email</a>

            </div>
            <div class="social-btn">

                <img  src="https://www.static112233.com/m/assets/images/mobile/transparent.gif" title="Instagram" class="support-ig">
                <a target="_blank" class="ui-link">Instagram</a>

            </div>
        </div>
    </ng-container>
</div>